@import "../../partials/variables";

.container {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  //text-align: center;
  padding-top: $padding-default;
  img {
    height: 200px;
  }
  margin-bottom: $margin-medium;
}

.container-right {
  float: right;
}

input {
  //width: 30%;
}
