<ngb-tabset [justify]="currentJustify">
  <ngb-tab *ngFor="let category of  categories">
    <ng-template ngbTabTitle>{{category}}</ng-template>
    <ng-template ngbTabContent>
      <!--<div class="container">-->
      <!--<app-product *ngFor="let todo of toDos" [imageUrl]="todo"></app-product>-->
      <!--</div>-->
      <app-product-section></app-product-section>
    </ng-template>
  </ngb-tab>
  <!--<ngb-tab>-->
  <!--<ng-template ngbTabTitle>Education</ng-template>-->
  <!--<ng-template ngbTabContent>-->
  <!--&lt;!&ndash;<div class="container">&ndash;&gt;-->
  <!--&lt;!&ndash;<app-product *ngFor="let todo of toDos" [imageUrl]="todo"></app-product>&ndash;&gt;-->
  <!--&lt;!&ndash;</div>&ndash;&gt;-->
  <!--<app-product-section></app-product-section>-->
  <!--</ng-template>-->
  <!--</ngb-tab>-->
  <!--<ngb-tab title="A very long nav title">-->
  <!--<ng-template ngbTabContent>-->
  <!--&lt;!&ndash;<p>Sed commodo, leo at suscipit dictum, quam est porttitor sapien, eget sodales nibh elit id diam. Nulla facilisi.&ndash;&gt;-->
  <!--&lt;!&ndash;Donec egestas ligula vitae odio interdum aliquet. Duis lectus turpis, luctus eget tincidunt eu, congue et odio.&ndash;&gt;-->
  <!--&lt;!&ndash;Duis pharetra et nisl at faucibus. Quisque luctus pulvinar arcu, et molestie lectus ultrices et. Sed diam urna,&ndash;&gt;-->
  <!--&lt;!&ndash;egestas ut ipsum vel, volutpat volutpat neque. Praesent fringilla tortor arcu. Vivamus faucibus nisl enim, nec&ndash;&gt;-->
  <!--&lt;!&ndash;tristique ipsum euismod facilisis. Morbi ut bibendum est, eu tincidunt odio. Orci varius natoque penatibus et&ndash;&gt;-->
  <!--&lt;!&ndash;magnis dis parturient montes, nascetur ridiculus mus. Mauris aliquet odio ac lorem aliquet ultricies in eget&ndash;&gt;-->
  <!--&lt;!&ndash;neque. Phasellus nec tortor vel tellus pulvinar feugiat.</p>&ndash;&gt;-->
  <!--<app-product-section>-->

  <!--</app-product-section>-->
  <!--</ng-template>-->
  <!--</ngb-tab>-->
</ngb-tabset>

