<div class="card" style="width: 18rem;">
  <img [src]="imageUrl" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Iphone Xs</h5>
    <a [routerLink]="['/product','1','maz']">Link</a>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
      content.</p>
  </div>
  <div> select information</div>
  <div class="card-body">
    <a href="#" class="card-link">$20</a>
    <a href="#" class="card-link">Add to cart</a>
  </div>
</div>
