<div class="main-container">
  <div class="card" style="width: 18rem;">
    <a [routerLink]="['/product',product.id]">
      <img [src]="image" class="card-img-top" alt="...">
    </a>
    <div class="card-body">
      <h5 class="card-title">{{product.productName | slice:0:10}}</h5>
      <p class="card-text">{{product.description | slice:0:20}}</p>
    </div>
    <div> select information</div>
    <div class="card-body">
      <a href="#" class="card-link">$20</a>
      <a href="#" class="card-link">Add to cart</a>
    </div>
  </div>
</div>
